<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.aaroo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.EditTransactionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".activity.helpsupport.HelpAndSupportActivity" />
        <activity android:name=".activity.account.supp.SupplierCashBookTxnActivity" />
        <activity android:name=".activity.account.custom.CustomerCashBookTxnActivity" />
        <activity
            android:name=".activity.CommonProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.supplier.AddSupplier" />
        <activity android:name=".activity.customer.AddCustomer" />
        <activity android:name=".activity.share.ShareContentActivity" />
        <activity android:name=".activity.account.AccountStatement" />
        <activity
            android:name=".activity.transactioncustomer.CustomerTransactionRoom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.sequritypin.SequrityPinActivity" />
        <activity android:name=".activity.switchnumber.SwitchNumberActivity" />
        <activity android:name=".activity.fingerlock.FingerLockActivity" />
        <activity
            android:name=".activity.transactionsupplier.SupplierTransactionRoom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.otp_verify.OtpVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.setting.SettingActivity" />
        <activity
            android:name=".activity.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.intro.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>